name: Deploy to Railway

on:
  push:
    branches:
      - master
  workflow_dispatch:
    inputs:
      commit_sha:
        description: "Commit SHA to deploy"
        required: true
        default: ""
        
jobs:
  test:
    uses: ./.github/workflows/test.yml

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Checkout specific commit if provided
        if: ${{ github.event.inputs.commit_sha != '' }}
        run: git checkout ${{ github.event.inputs.commit_sha }}
        
      - uses: oven-sh/setup-bun@v2.0.1

      - name: Installing Railway
        run: bash <(curl -fsSL cli.new) -y

      - name: Installing dependencies
        run: bun install --frozen-lockfile

      - name: Building project
        run: bun run --bun build
        env:
          NEXT_TELEMETRY_DISABLED: 1
          
      - name: Linking service
        run: |
          sed -i -e 's/.next/''/g' .gitignore
          railway link -p $R_PROJECT_ID -s Docs
        env:
          RAILWAY_API_TOKEN: ${{ secrets.RAILWAY_API_TOKEN }}
          R_PROJECT_ID: e7e56a6f-2023-45ee-9a1c-2eadc6204f7c

      - name: Deploying service
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
