name: Tests

on:
  push:
    branches:
      - dev
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2.0.2
      
      - name: Executing linter
        run: bunx oxlint@1.30.0
        
      - name: Checking Docker image
        run: docker build . --check
